<h1>Listing awards</h1>

<table>
  <thead>
    <tr>
      <th>User id</th>
      <th>Award Giver </th>
      <th>Award link </th>
      <th>Accepted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.awards.each  do |award| %>
      <tr>
        <td><%= award.user_id %></td>
        <td><%= award.award_giver_name %></td>
        <td><%= award.award_link %></td>
        <td><%= award.accepted %></td>
        <td><%= link_to 'Show ', award %></td>
        <td><%= link_to 'Edit', edit_award_path(award) %></td>
        <td><%= link_to 'Destroy', award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Award', new_award_path %>
