<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @award.user_id %>
</p>

<p>
  <strong>Awardgivername:</strong>
  <%= @award.award_giver_name %>
</p>

<p>
  <strong>Awardlink:</strong>
  <%= @award.award_link %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @award.accepted %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
