<!DOCTYPE html>
<html>
<head>
  <title> <%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",	'#' %> </li>
          <li><%= link_to "Help",	'#' %> </li>
          <li><%= link_to "Sign in for companies", "/auth/facebook" %> </li>
          <% if @current_user %>
              <%= link_to "Sign out", signout_path, id: "sign_out" %>
          <% else %>

          <% end %>
          <li> <%= link_to "Karmook", '#' %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>